body {
  background-color: royalblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 0;
  text-align: center;
}

#btn-scan {
  width: 100%;
}

.item-container {
  border: dashed red;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
}

.scan-container {
  min-width: 20rem;
  margin-bottom: 1rem;
  align-items: center;
}

.form-control {
  margin: 0.5rem;
}

label {
  display: inline-block;
  width: 8rem;
  text-align: right;
}

.server-list {
  list-style-type: decimal;
  padding: 0;
}

.server-list > li {
  margin-bottom: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: black;
}

#scan-result > h3 {
  text-align: center;
}

input {
  width: 12rem;
}

#status-message {
  padding: 1rem;
  border: 1px dashed yellow;
  background-color: rgb(168, 179, 190);
  min-height: 10rem;
  flex-grow: 1;
}
