<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Generate Firmware</title>
</head>

<body>
  <h1>Generate Firmware</h1>
  <form method="POST" action="/generate">
    <div>
      <label>Customer Name : </label>
      <input type="text" name="customerName" />
    </div>
    <div>
      <label>Server ID : </label>
      <input type="text" name="serverID" />
    </div>
    <div>
      <label>Total License : </label>
      <input type="text" name="totalLicense" />
    </div>
    <button type="submit">Generate</button>
  </form>
</body>

</html>