[Unit]
Description=License Manager Server

[Service]
ExecStart=/home/pi/lc/firmware
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target